.book {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 2rem 1.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

.book button {
  background: none;
  border: unset;
  font-family: 'Roboto Slab', serif;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: lighter;
  padding: 1rem 0 0 0;
}

.book h1 {
  font-family: 'Roboto Slab', serif;
  color: #121212;
  letter-spacing: -0.2px;
  font-size: 1.375rem;
  font-weight: bold;
  margin: 0.35rem 0 0.15rem 0;
}

.book-category {
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: capitalize;
  opacity: 50%;
}

.book-author {
  font-family: 'Roboto Slab', serif;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: lighter;
}
